<div class="flex justify-between items-center px-64 pt-24">
    <div class="flex">
        <div class="text-3xl pr-10">
            Theme Creator
        </div>
        <button class="border rounded flex items-center justify-center px-2 py-1 bg-blue-700 text-white" (click)="normalSiteTheme()">
            <span class="pi pi-download"></span>
            <span class="text-lg">
                &nbsp;&nbsp;Normal Site
            </span>
        </button>
        <button class="border rounded flex items-center justify-center px-2 py-1 bg-blue-700 text-white" (click)="testSiteTheme()">
            <span class="pi pi-download"></span>
            <span class="text-lg">
                &nbsp;&nbsp;Test Site
            </span>
        </button>
        <div class="flex ">
            <input class="mx-2 p-1 border rounded text-right" placeholder=".json ">
            <button class="border rounded flex items-center justify-center px-2 py-1 bg-blue-700 text-white" (click)="save()">
                <span class="pi pi-save"></span>
                <span class="text-lg">
                    &nbsp;&nbsp;Save
                </span>
            </button>
        </div>
        <button class="border rounded flex items-center justify-center px-2 py-1 bg-blue-700 text-white" (click)="upload()">
            <span class="pi pi-upload"></span>
            <span class="text-lg">
                &nbsp;&nbsp;Theme
            </span>
        </button>
    </div>
    <div class="">
        <button class="border rounded flex items-center justify-center px-2 py-1 bg-blue-700 text-white" (click)="addNewColour()">
            <span class="pi pi-plus"></span>
            <span class="text-lg">
                &nbsp;&nbsp;New
            </span>
        </button>
    </div>
</div>
<div class="p-10 px-56">
    <p-table [value]="themeList" [resizableColumns]="true" responsiveLayout="scroll" styleClass="p-datatable-gridlines" editMode="row" dataKey="id">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width:3rem"></th>
                <th pResizableColumn>
                    Location
                </th>
                <th pResizableColumn>
                    Colour Code
                </th>
                <th style="width:8rem" pResizableColumn></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex" let-editing="editing" let-theme>
            <tr pResizableRow [pReorderableRow]="index" [pEditableRow]="theme">
                <td>
                    <span class="pi pi-bars" [pReorderableRowHandle]="index"></span>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <select [(ngModel)]="theme.location">
                                <option *ngFor="let option of locationList" [value]="option">{{option}}</option> <!--- Change this to filter out ones already filled --->
                            </select>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{theme.location}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td class="font-mono" pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <div class="flex flex-row">
                                <div class="pt-2 pr-10">
                                    <p-colorPicker [(ngModel)]="colour" appendTo="body" (onHide)="update(index)"></p-colorPicker>
                                </div>
                                <div>
                                    {{theme.colour}}
                                    <div class="p-2 w-2 border" [style.background-color]="theme.colour" [id]="index"></div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="output">
                            <div class="flex flex-row">
                                <div>
                                    {{theme.colour}}
                                    <div class="p-2 w-2 border" [style.background-color]="theme.colour" [id]="index"></div>
                                </div>
                            </div>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <div class="flex justify-around">
                        <button class="bg-green-400 rounded p-2 flex align-middle justify-center text-white" *ngIf="!editing" (click)="onRowEditInit(theme)" pInitEditableRow [disabled]="edit">
                            <span class="pi pi-pencil"></span>
                        </button>
                        <button class="bg-red-400 rounded p-2 flex align-middle justify-center text-white" *ngIf="!editing" (click)="removeColour(index)" [disabled]="edit">
                            <span class="pi pi-times"></span>
                        </button>
                        <button class="bg-green-400 rounded p-2 flex align-middle justify-center text-white" *ngIf="editing" (click)="onRowEditConfirm()" pSaveEditableRow>
                            <span class="pi pi-check-circle"></span>
                        </button>
                        <button class="bg-red-400 rounded p-2 flex align-middle justify-center text-white" *ngIf="editing" (click)="onRowEditCancel(index)" pCancelEditableRow>
                            <span class="pi pi-times-circle"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>